$maincolor: red;
$stringlist: 'word', 'word1';
$colormap: (1:#333, 2:#fff);
$standardborder: solid 15px green;
$imagelist: url(https://visualhunt.com/photos/xl/7/flower-bouquet-bunch-daisys.jpg), url(https://visualhunt.com/photos/l/7/sky-silhouette-star.jpg), url(https://visualhunt.com/photos/l/7/animal-kitten-pet.jpg);
